<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}



<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>

  <article class="post">
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.github.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}
    </div>{% if page.tags %}
      <h4>
      Tags: [
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
      ]
      </h4>
      {%- endif -%}
      <div class="article-wrap">
      <div id="toc">
        <strong>Contents</strong>
        <ul id="toc-list">
        </ul>
      </div>

      {{ content }}
      <hr />
      <footer role="contentinfo">
        {% if page.share != false %}{% include _social-share.html %}{% endif %}
        <p class="byline"><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
      </footer>
    </div>{% if site.owner.disqus-shortname and page.comments == true %}
    <section id="disqus_thread"></section>{% endif %}

  {% assign firstTag = page.tags | first %}
{% assign relatedCount = 0 %}

<div class="related-posts">
  <h3>related posts:</h3>
  {% assign firstTag = page.tags | first %}
  {% assign relatedCount = 0 %}
  {% for related in site.tags[firstTag] %}

  {% unless page.permalink == related.permalink %}
    {% assign relatedCount = relatedCount | plus: 1 %}
    <a href="{{ site.baseurl }}{{related.permalink}}">{{ related.title }}</a><br>
    {% endunless %}

    {% if relatedCount == 3 %}
      {% break %}<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>

  <article class="post">
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.github.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}
    </div>{% if page.tags %}
      <h4>
      Tags: [
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
      ]
      </h4>
      {%- endif -%}
      <div class="article-wrap">
      <div id="toc">
        <strong>Contents</strong>
        <ul id="toc-list">
        </ul>
      </div>

      {{ content }}
      <hr />
      <footer role="contentinfo">
        {% if page.share != false %}{% include _social-share.html %}{% endif %}
        <p class="byline"><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
      </footer>
    </div>{% if site.owner.disqus-shortname and page.comments == true %}
    <section id="disqus_thread"></section>{% endif %}

  {% assign firstTag = page.tags | first %}
{% assign relatedCount = 0 %}

<div class="related-posts">
  <h3>related posts:</h3>
  {% assign firstTag = page.tags | first %}
  {% assign relatedCount = 0 %}
  {% for related in site.tags[firstTag] %}

  {% unless page.permalink == related.permalink %}
    {% assign relatedCount = relatedCount | plus: 1 %}
    <a href="{{ site.baseurl }}{{related.permalink}}">{{ related.title }}</a><br>
    {% endunless %}

    {% if relatedCount == 3 %}
      {% break %}
    {% endif %}
  {% endfor %}
</div>
</article>
</div>```
    {% endif %}
  {% endfor %}
</div>
</article>
</div>```
